.body {
  display: flex;
}

.left-content {
  width: 290px;
  height: 900px;
  position: fixed;
  margin-right: 5px;
  flex-direction: column;
  align-items: left;
  top: 170px;
}

.right-content {
  flex: 1;
  width: 80%;
  height: 900px;
  margin-left: 300px;
  margin-top: 100px;
}

.left-content .title {
  margin-bottom: 10px;
}

.left-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.left-content ul li {
  padding: 5px;
  cursor: pointer;
}

.left-content ul li img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  object-fit: cover;
  margin-right: 10px;
}

.right-content h1{
  font-weight: bolder;
  font-size: 40px;
}


.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}


.right-content .order{
  width: 150px;
  height: 45px;
  margin-top: 1px;
  border-radius: 5px;
  padding-right: 70px;
  background-color: #f0f0f0ed;
  border: none;
}

.right-content .order .icon{
  cursor: pointer;
}

.right-content .filter{
  width: 150px;
  height: 45px;
  margin-top: 1px;
  margin-right: 810px;
  border-radius: 5px;
  padding-right: 70px;
  background-color: #f0f0f0ed;
  border: none;
}

