.themecolor {
    position: fixed;
    top: 45px;
    right: 10px;
    display: flex;
    align-items: center;
    padding-right: 130px;
  }
  
  .react-switch {
    margin-right: 10px;
  }
  
  .label {
    font-size: 14px;
  }

  .dark-mode {
    background-color: black;
    color: white;
  }
  

